/* NAV STUFF */

.hamburger {
    display: inline-block;
    position: fixed;
    top: 1.5rem;
    margin-left:-32px;
    z-index: 2200;
}

.hide {
    display: none !important;
}

ul.nav-links {
    /* Fullscreen takeover menu */
    display: flex;
    position: fixed;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--UI-PRIMARY-300);
    padding: 2rem;
    list-style-type: none;
    z-index: 2500;
    gap: 1.5rem;
    margin: 0;
    & li {
        display: inline;
    }
    & a {
        text-decoration: none;
        color: var(--UI-PRIMARY-300);
        font-size: var(--fs-6);
        letter-spacing: 0.06em;
        text-transform: uppercase;
        display: inline-block;
        padding: 0.25rem 0.5rem;
    }
    & .nav-logo {
        height: 18rem;
    }
    & .nav-close {
        position: absolute;
        right: 4rem;
        top: 1.25rem;
        height: 4rem;
        font-size: var(--fs-6);
        color: var(--UI-PRIMARY-300);
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0.25rem 0.5rem;
    }
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0rem;
        & .nav-logo {
            height: 14rem;
        }
    }
}