/* CSS COLOR VARIABLES */
@import url("globals.css");
@import url("nav.css");

body {
    background-color: white;
    color: var(--UI-PRIMARY-000);
    margin:0;
    padding:0;
}

nav {
    text-align: right;
    padding: 1em 1em;
    cursor: pointer;
    grid-column: span 12;
    margin-top:-66px;
}

body {
    font-family: "Noto Sans", sans-serif;
    font-size: var(--fs-2);
}

a {
    font-weight: bold;
    color:  var(--UI-PRIMARY-600);
}

h1 {
    color:  var(--UI-PRIMARY-300);
}

h2 {
    font-family: "Poetsen One", sans-serif;
    font-size: var(--fs-4);
    color:  var(--UI-PRIMARY-400);
    margin-bottom: 0;
}

h3 {
    font-family: "Noto Sans", sans-serif;
    font-size: var(--fs-3);
    font-weight: 400;
    font-style: italic;
    color:  var(--UI-PRIMARY-600);
     margin-top: 0.5rem;
}

footer {
    text-align: center;
    padding: 2em 0;
    color: var(--UI-PRIMARY-800);
    background-color: var(--UI-PRIMARY-000);
}

header {
    background-color: var(--UI-PRIMARY-900);
    height: 126px;
    padding: 0 1em 0em 1em;
    border-bottom: 2px solid var(--UI-PRIMARY-600);
    background-size: 9% auto;
    background-repeat: repeat-x;
    background-position-y: 85%;
    background-position-x: 200px;
    margin: 0;
    animation: bg-scroll 30s linear infinite;
}

@keyframes bg-scroll {
    from { background-position: 200px 85%; }
    to   { background-position: -200px 85%; }
}

@media (prefers-reduced-motion: reduce) {
    header {
        animation: none !important;
        transition: none !important;
    }
}

/* GLOBAL LAYOUT STUFF BELOW */

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal-width columns */
  gap: 8px; /* Spacing between grid items */
  margin: 0 auto; /* Center the container */
  row-gap: 0;
  padding: 0;
}

header, footer, main {
  grid-column: span 12; /* Header and footer span all 12 columns */
  margin: 0;
}

header, footer {
    div {
        max-width: 1200px; 
        margin: 0 auto
    }
}

.main-content {
  grid-column: span 12; /* Main content spans 12 columns */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    .main-content, .sidebar {
        grid-column: span 12; /* On smaller screens, both span all 12 columns */
    }
}

/*
.page-nav-title {
  display: inline-block;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

.logo-container {
    display: inline-block;
    background-color: var(--UI-PRIMARY-900); 
    box-shadow: 8px 0px 8px var(--UI-PRIMARY-900), -8px 0px 8px var(--UI-PRIMARY-900);
  /*  background-color: hsl(146 24% 94% / 0.6); */
    padding: 1rem 1rem 0rem 1rem;
}

/* PAGE SPECIFIC STUFF STUFF BELOW */

/* ----------------------------- */
/* START ROASTER STUFF ----------- */
/* ----------------------------- */

/* Filter control styles */
.roaster-filter {
    padding: 0 0 1rem 0;
    text-align: right;
    align-items: center;
    gap: 0.5rem;
}
.roaster-filter label {
    display: none;
}
.roaster-filter select {
    cursor: pointer;
    background-color: var(--UI-PRIMARY-600);
    appearance: none; 
    color: white;
    font-size: var(--fs-2);
    font-weight: bold;
    padding: 0.5rem 1.75rem 0.5rem 1rem;
    border-radius: 4px;
    background-image: url('img/dropdown-arrow.svg');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
}
#roasterDirectory {
    border-top: 2px solid var(--UI-PRIMARY-800);
    background-color: var(--UI-PRIMARY-900);
    padding: 1rem 1.5rem;
    div {
        max-width: 1200px; 
        margin: 0 auto
    }
}
ul.roaster-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
    li {
        display:flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: white;
        border-radius: 4px;
        border-color: var(--UI-PRIMARY-800);
        border-width: 1px;
        border-style: solid;
        padding: var(--fs-1);
        filter: drop-shadow(0 2px 0 rgba(154, 199, 168, 1));
        &:hover {
            background-color: var(--UI-PRIMARY-900);
            cursor: pointer;
        }
    }
}
.roaster-logo {
    height: 80px;
    margin-bottom: 1rem;
    img {
        height: 100%;
        width: auto;
        object-fit: contain;
    }
}
.roaster-meta {
    font-size: var(--fs-2);
    color: var(--UI-PRIMARY-300);
    font-weight: bold;
    padding-top: var(--fs-1);
}
.roaster-extra {
    font-size: var(--fs-1);
    color: var(--UI-GRAY-500);
    padding-top: var(--fs-1);
}

/* ----------------------------- */
/* END ROASTER STUFF ----------- */
/* ----------------------------- */

#makeSection > div {
    margin: 8rem auto; 
}

.standard-section {
    border-top: 2px solid var(--UI-PRIMARY-800);
    background-color: var(--UI-PRIMARY-900);
    padding: 3rem 1.5rem;
    gap: 1rem;
    > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        max-width: 1200px; 
        margin: 2rem auto; 
    }
}

#makeNav {
    display: block;
    text-align: center;
    margin-bottom: 5rem;
    a {
        background-color: var(--UI-PRIMARY-800);
        border-radius: 4px;
        text-decoration: none;
        color: var(--UI-PRIMARY-300);
        font-size: var(--fs-3);
        font-weight: bold;
        padding: 0.25rem 1rem;
        margin: 0 0.5rem;
        &:hover {
            text-decoration: underline;
        }
    }
}

.make-image-left-third {
    grid-column: span 4;
    width: 100%;
    height: auto;
}

.make-image-right-third {
    grid-column: span 4;
    width: 100%;
    height: auto;
}

.make-text-right-two-thirds {
    h2, p {
        grid-column: span 12;
    }
    grid-column: span 8;
    padding-left: 8rem;
    @media (max-width: 768px) {
        grid-column: span 12;
        font-size: var(--fs-2);
        padding-left: 0;
    }
}

.make-text-left-two-thirds {
    h2, p {
        grid-column: span 12;
    }
    grid-column: span 8;
    padding-right: 1rem;
    @media (max-width: 768px) {
        font-size: var(--fs-2);
        padding-right: 0;
    }
}

.green-well {
    background-color: var(--UI-PRIMARY-800);
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
    color:  var(--UI-PRIMARY-000);
    font-weight: bold;
    font-size: var(--fs-2);
    > h3 {
        margin-top: 0;
        color:  var(--UI-PRIMARY-000);
    }
}

#bundleSection {
    background-color: var(--UI-PRIMARY-900);
    padding: 1rem 1.5rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    max-width: 1200px; 
    margin: 2rem auto; 

}

.green-well-third {
    background-color: var(--UI-PRIMARY-800);
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem 0;
    color:  var(--UI-PRIMARY-000);
    font-weight: bold;
    font-size: var(--fs-2);
    > h3 {
        margin-top: 0;
        color:  var(--UI-PRIMARY-000);
    }
    grid-column: span 4;
     @media (max-width: 768px) {
        grid-column: span 12;
    }
}

#getHero {
    text-align: left;
    margin: 0 auto;
    background-color: white;
    .hero-text {
        font-size: var(--fs-3);
        grid-column: span 8;
        width: 75%;
        margin: auto;
        @media (max-width: 768px) {
            font-size: var(--fs-2);
        }
    }
    img {
        grid-column: span 4;
        width: 100%;
        height: auto;
        margin-bottom: -20%;
    }
    .width-limit {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
        max-width: 1200px; 
        margin: 0 auto
    }
}

#makeHero {
    text-align: left;
    margin: 0 auto;
    background-color: white;
    .hero-text {
        font-size: var(--fs-3);
        grid-column: span 8;
        width: 75%;
        margin: auto;
        @media (max-width: 768px) {
            font-size: var(--fs-2);
        }
    }
    img {
        grid-column: span 4;
        width: 100%;
        height: auto;
        margin-bottom: -20%;
    }
    .width-limit {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
        max-width: 1200px; 
        margin: 0 auto
    }
}

.standard-hero {
    text-align: left;
    margin: 0 auto;
    background-color: white;
    .hero-text {
        font-size: var(--fs-3);
        grid-column: span 8;
        width: 75%;
        margin: auto;
        @media (max-width: 768px) {
            font-size: var(--fs-2);
        }
    }
    img {
        grid-column: span 4;
        width: 100%;
        height: auto;
        margin-bottom: -20%;
    }
    .width-limit {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column: span 12;
        max-width: 1200px; 
        margin: 0 auto
    }
}

.hero-text h1 {
    font-family: 'poetsen one', sans-serif;
    font-size: var(--fs-7);
    color: var(--UI-PRIMARY-500);
    margin-bottom: 0;
    @media (max-width: 768px) {
        font-size: var(--fs-7);
    }
}

#Glossary {
    padding: 1rem 1.5rem;
    gap: 1rem;
    h2 {
        color: var(--UI-SECONDARY-400);
        margin-top: 0; 
        margin-bottom: 2rem;
    }
    > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        max-width: 1200px; 
        margin: 0rem auto; 
    }
}

.special-section {
    border-top: 2px solid var(--UI-SECONDARY-600);
    background-color: var(--UI-SECONDARY-999);
    padding: 0;
    gap: 1rem;
    > div {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        max-width: 1200px; 
        margin: 0rem auto; 
    }
}

.glossary-entry {
    grid-column: span 12;
    margin-bottom: 2rem;
    h3 {
        margin-bottom: 0.5rem;
        font-weight: bold;
        color: var(--UI-SECONDARY-400); 
    }
    p {
        margin-top: 0;
        color: var(--UI-SECONDARY-000); 
    }
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    li a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-credit {
    font-size: var(--fs-1);
    p {
        margin: 0.25rem 0;
        a {
            color: white;
            text-decoration: underline;
        }
    }
}



